$dark-red: #98465f;
$dark-brown: #212426;

#about-page {
    background-color: $dark-brown;
    min-height: 100vh;
    padding: 100px 90px 100px 90px;
    position: relative;
}

.about-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .about-title {
        font-size: 5rem;
        color: $dark-red;
        font-weight: bold;
        animation: rotate 1.5s ease-in;
        display: inline-block;
        width: max-content;
    }

    .bryan-image {
        position: absolute;
        right: 100px;
        top: 40px;
        height: 700px;
        z-index: 1;
        animation: fadein 2.5s ease-in-out;
    }
}

.about-description {
    max-width: 900px;
    animation: fadein 1.5s ease-in;

    p {
        color: white;
        margin-top: 30px;
        font-size: 1.3rem;
    }
}

.techstack {
    margin-top: 120px;
    max-width: 1000px;
}

.box {
    border: 3px dotted white;
    max-width: 120px;
    min-height: 120px;
    width: 100%;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    img {
        width: 60px;
        height: 60px;
        object-fit: contain;
    }

    p {
        color: white;
    }
}

.developer-image {
    display: none;
}

.skills-list {
    display: none;
}

@media (max-width: 1511px) {
    .bryan-image {
        display: none;
    }

    #about-page {
        padding: 75px;
        align-items: center;
    }

    .developer-image {
        display: block;
        margin: 10px auto;
        max-width: 800px;
        width: 100%;
    }

    .about-description {
        width: 100%;
    }
}

@media (max-width: 1080px) {
    .about-info .about-title {
        font-size: 3.5rem;
    }

    #about-page {
        padding: 75px;
    }
}

@media (max-width: 720px) {
    #about-page {
        padding: 30px;
    }

    .about-info .about-title {
        font-size: 3rem;
    }

    .about-description p {
        font-size: 1rem;
    }

    .techstack {
        display: none;
    }

    .skills-list {
        margin-top: 50px;
        display: block;

        p {
            color: white;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
            font-size: 1.2rem;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            color: white;
            justify-content: center;
            font-size: 1rem;

            li {
                padding: 5px 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                img {
                    width: 60px;
                    height: 60px;
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 463px) {
    .about-info .about-title {
        font-size: 2.5rem;
    }

    .about-description p {
        text-align: center;
    }
}
