$dark-red: #98465f;
$dark-brown: #212426;

#home {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.hero {
    padding-top: 250px;
    padding-left: 80px;
    color: white;

    div:nth-child(1),
    div:nth-child(2) {
        font-size: 7rem;
    }

    div:nth-child(3) {
        font-size: 1.3rem;
        margin-left: 10px;
    }

    .download-cv-btn {
        display: inline-block;
        background-color: transparent;
        border: none;
        color: white;
        border: 3px solid $dark-red;
        font-weight: 600;
        padding: 10px 30px;
        font-size: 1.1rem;
        margin-top: 30px;
        margin-left: 10px;
        animation: fadein 5s ease-in-out;
        text-decoration: none;
        position: relative;
        text-align: center;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
    }

    .download-cv-btn::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        outline: 2px solid $dark-red;
        outline-offset: 5px;
        outline-width: 2px;
        animation: pulse 1s infinite;
    }

    .download-cv-btn span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .download-cv-btn span::after {
        content: "\2193";
        position: absolute;
        top: 0;
        right: -30px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .download-cv-btn:hover span {
        padding-right: 5px;
    }

    .download-cv-btn:hover span::after {
        opacity: 1;
        right: -15px;
    }
}

.bryan-logo {
    $logo-width: 100px;
    $logo-height: 60px;
    border: 3px solid white;
    position: absolute;
    color: white;
    top: 20px;
    left: 80px;
    width: $logo-width;
    height: $logo-height;

    &::after {
        position: absolute;
        border: 3px solid white;
        content: "";
        width: $logo-width - 5px;
        height: $logo-height - 5px;
        top: 5px;
        left: 5px;
    }

    .logo-title {
        padding-top: 3px;
        padding-left: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $logo-width;
        height: $logo-height;
        font-size: 2rem;
        font-weight: bold;
    }
}

.hero div:nth-child(1) {
    animation: moveright 0.8s ease-in-out;
}

.hero div:nth-child(2) {
    animation: moveup 1.5s ease-in-out;
}

.hero div:nth-child(3) {
    animation: moveup 2s ease-in-out;
}

.icons-container {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 50px;
    bottom: 50px;

    div {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 50%;
        transition: border-radius 0.3s ease-in-out;
    }

    div:hover {
        border-radius: 10px;
    }
}

@media (max-width: 880px) {
    .icons-container {
        display: none !important;
    }
}

@media (max-width: 760px) {
    .hero div:nth-child(1),
    .hero div:nth-child(2) {
        font-size: 5rem;
    }
}

@media (max-width: 500px) {
    .hero {
        padding-top: 200px;
        padding-left: 30px;
        color: white;
    }

    .bryan-logo {
        left: 30px;
        $logo-width: 80px;
        $logo-height: 40px;
        width: $logo-width;
        height: $logo-height;
        border: 3px solid white;
        display: flex;
        align-items: center;

        &::after {
            position: absolute;
            border: 3px solid white;
            content: "";
            width: $logo-width - 5px;
            height: $logo-height - 5px;
        }
        .logo-title {
            padding-top: 8px;
            padding-left: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    }

    .hero div:nth-child(1),
    .hero div:nth-child(2) {
        font-size: 4rem;
    }

    .hero div:nth-child(3) {
        font-size: 1rem;
        margin-left: 5px;
    }
}
