@use "menu";
@use "home";
@use "about";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.links {
    text-decoration: none;
    color: black;
}
