@use "menu";
@use "home";
@use "about";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    cursor: none;
}

.links {
    text-decoration: none;
    color: black;
}

.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: white;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    top: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border: 2px solid hsla(0, 0%, 100%, 0.5);
    background-color: #fff;
    transform-origin: center;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: difference;
}
