$dark-red: #98465f;
$dark-brown: #212426;

#portfolio-page {
    background-color: $dark-brown;
    min-height: 100vh;
    padding: 100px;
    position: relative;
}

.porfolio-title {
    font-size: 5rem;
    color: $dark-red;
    font-weight: bold;
    animation: rotate 1s ease-in;
    display: inline-block;
    width: max-content;
}

.projects {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
}

.project-detail {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    gap: 20px;

    .project-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .project-description {
        font-size: 1.1rem;
    }

    .project-btn-wrapper {
        display: flex;
        gap: 25px;
    }

    button {
        border: 3px solid $dark-red;
        background-color: transparent;
        color: white;
        padding: 10px 30px;
    }
}

.project-wrapper:nth-child(odd) {
    .project-detail {
        grid-area: 1/7/1/13;
    }

    .project-image-container {
        grid-area: 1/1/1/7;
        position: relative;

        .project-image-background {
            background-color: $dark-red;
            position: absolute;
            inset: 0;
            border-radius: 10px;
        }

        img {
            z-index: 1;
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
            border-radius: 10px;
        }

        img:hover {
            transform: translate(8px, 8px);
        }
    }

    .project-detail {
        text-align: left;

        .project-btn-wrapper {
            justify-content: start;
        }
    }
}

.project-wrapper:nth-child(even) {
    .project-detail {
        grid-area: 1/1/1/7;
    }

    .project-image-container {
        grid-area: 1/7/1/13;
        position: relative;

        .project-image-background {
            background-color: $dark-red;
            position: absolute;
            inset: 0;
            border-radius: 10px;
        }

        img {
            z-index: 1;
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.3s ease-in-out;
            border-radius: 10px;
        }

        img:hover {
            transform: translate(-8px, -8px);
        }
    }

    .project-detail {
        text-align: right;

        .project-btn-wrapper {
            justify-content: end;
        }
    }
}

.project-title-tablet {
    display: none;
}

@media (max-width: 1250px) {
    #portfolio-page {
        padding: 75px;
    }

    .project-detail {
        .project-title {
            font-size: 2rem;
        }

        .project-description {
            font-size: 1rem;
        }

        .project-btn-wrapper {
            display: flex;
            gap: 25px;
        }

        button {
            border: 3px solid $dark-red;
            background-color: transparent;
            color: white;
            padding: 10px 30px;
        }
    }

    .project-wrapper:nth-child(even) {
        .project-image-container {
            grid-area: 1/6/1/13;
        }

        .project-detail {
            grid-area: 1/1/1/6;
        }
    }

    .project-wrapper:nth-child(odd) {
        .project-image-container {
            grid-area: 1/1/1/8;
        }

        .project-detail {
            grid-area: 1/8/1/13;
        }
    }
}

@media (max-width: 1080px) {
    .project-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .project-wrapper:nth-child(even),
    .project-wrapper:nth-child(odd) {
        .project-image-container {
            order: 1;

            .project-image-background {
                display: none;
            }
        }

        .project-detail {
            order: 2;
            text-align: start;

            .project-btn-wrapper {
                justify-content: start;
            }
        }
    }

    .porfolio-title {
        font-size: 3.5rem;
    }

    .project-title {
        display: none;
    }

    .project-title-tablet {
        display: block;
        font-size: 2rem;
        color: white;
        font-weight: bold;

        span {
            font-size: 1.5rem;
            color: $dark-red;
        }
    }
}

@media (max-width: 720px) {
    .porfolio-title {
        font-size: 3rem;
    }
    .projects {
        gap: 100px;
    }
    #portfolio-page {
        padding: 30px;
    }
}

@media (max-width: 463px) {
    .porfolio-title {
        font-size: 2.5rem;
    }
}
